# dependencies
/node_modules

# next.js
/out/
/.next/

# production
/build

# test
/coverage


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
.vercel

# serverless
.serverless
.serverless_nextjs

# misc
.DS_Store
*.pem